.container {
  display: grid;
  grid-template-columns: 1fr 1fr  1fr;
  grid-template-rows: 1fr 1fr;
  background-color: rgb(228, 97, 119);
  color: whitesmoke;
  font-size: 10px;
  font-weight: bold;
  border: solid black 10px;
}

.container div {
  border: solid green 8px;
  margin: 10px;
  padding: 20px;
  }

.second {
  font-size: 15px;
  margin: 20px;

}

#button {
  color: white;
  background-color: blue;
  border-radius: 5px;
  width: 50%
}